@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overscroll-behavior: none;
}

.app-container {
  color: #2B2B2B;

}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

h2 {
  font-size: 1.7rem;
  font-weight: 600;
}

h3 {
  font-weight: 600;
}

h6 {
  font-size: 1rem;
  font-weight: 600;
}

p {
  font-size: 1rem;
  font-weight: 400;
  color: #878A99;
}

input::placeholder {
  font-family: 'Poppins', sans-serif;
}

.ant-table-title {
  background-color: #F7F7F7 !important;
  border-bottom: 1px solid #DDE4F0 !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  width: 8px;
  background-color: #ebf1f3;
  border-radius: 10px;
  border: 2px solid #fff;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #d4d4d4;
}