.main-layout {
    display: flex;
    height: 100vh;
}

.main-content {
    flex-grow: 1;
    transition: all 0.3s ease;
}

.main-page {
    padding: 16px 28px;
    box-sizing: border-box;
    background-color: #ebf1f3;
    min-height: calc(100vh - 90px);
}