.forgotPage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 7rem;
}

.forgotForm {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.forgotImage {
    width: 40%;
    height: auto;
}

.verticalLine {
    border-left: 1px solid #DDE4F0;
    height: 80vh;
    width: 1px;
}