.profile-layout {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.profile-content {
    padding: 16px 28px;
    box-sizing: border-box;
    background-color: #ebf1f3;
    min-height: calc(100vh - 90px);
    max-height: auto;
}