.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 0 28px;
    border-bottom: 1px solid #EEEEEE;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.navbarContent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.userAvatar {
    .avatar {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        display: block;
        object-fit: cover;
    }
}

.sidebarToggleButton {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 50px;
    width: 50px;
    margin-left: 0rem;
}

.sidebarToggleButton:hover {
    cursor: pointer;
}

.notificationIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}